<h1><%= plural_table_name.humanize %></h1>

<p><a href="/new_<%= singular_table_name %>">Add a New <%= human_name.titleize %></a></p>

<table>
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
    <% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
      <td><a href="/<%= plural_name %>/<%%= <%= singular_table_name %>.id %>">Show</a>
        </td>
      <td><a href="/<%= plural_name %>/<%%= <%= singular_table_name %>.id %>/edit">Edit</a></td>
      <td><a href="/<%= plural_name %>/<%%= <%= singular_table_name %>.id %>/destroy">Destroy</a></td>
    </tr>
  <%% end %>
  </tbody>
</table>

