<h1>New <%= human_name.titleize %></h1>

<form action="/create_<%= singular_name %>">
<% attributes.each do |attribute| -%>
  <div>
    <label for="<%= attribute.name %>"><%= attribute.name %></label><br />
    <input id="<%= attribute.name %>" name="<%= attribute.name %>" type="text" />
  </div>
<% end -%>
  <div>
    <input type="submit">
  </div>
</form>

