<h1><%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>

<% attributes.each do |attribute| -%>
<div>
  <strong><%= attribute.human_name %></strong>:<br />
  <p><%%= @<%= singular_table_name %>.<%= attribute.name %><%= "?" if attribute.type == :boolean %> %></p>
</div>
<% end -%>

<a href="/<%= plural_name %>/<%%= @<%= singular_table_name %>.id %>/edit">Edit</a> |
<a href="/<%= plural_name %>/<%%= @<%= singular_table_name %>.id %>/destroy">Destroy</a>
