<h1><%= human_name.titleize %> #<%%= @<%= singular_table_name %>.id %></h1>

<dl>
<% attributes.each do |attribute| -%>
  <dt><%= attribute.human_name %></dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %><%= "?" if attribute.type == :boolean %> %></dd>

<% end -%>
</dl>

<a href="/<%= plural_name %>/<%%= @<%= singular_table_name %>.id %>/edit">Edit</a> |
<a href="/<%= plural_name %>/<%%= @<%= singular_table_name %>.id %>/destroy">Destroy</a>
